body{
    @include setBackgroundImg;
}

main{
    padding: 4rem;
    height: 100%;

    .social-media{
        margin-top: 1rem;
        a{
            padding: 0.4rem;
            &:hover{
                color: $secondary-color;
                @include easeIn_Out();
            }
        }
    }

    &#home{
        overflow: hidden; 
    }

    .lastName{
        color: $secondary-color;
    }

    .logo-brand{
        margin-top: $splash_topMargin;
        display: flex;
        align-items: center;
    }
}