//widescreen devices
@include xlDevice{

}

//desktop and laptops
@include lgDevice{
    
}

//tables and small devices
@include mdDevice{
    #home{
        align-items: center;
        text-align: center;

        .lead{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
}

//smartphones
@include smDevice{
    #home{
        .logo-brand{
            margin-top: 10vh;
        }
    }
}
