.menu-btn{
    //creates the burger menu and fixes it at the top right corner
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeIn_Out;

    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: $white-color;
        @include easeIn_Out;
    }
    
    //adds the rotaing effect and changes into X
    &.close{
        transform: rotate(180deg);
        .btn-line{
            //line1 rotates
            &:nth-child(1){
                transform: rotate(45deg) translate(5px,5px);
            }
            //line2 hides
            &:nth-child(2){
                opacity: 0;
            }
            //line3 rotates
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px,-6px);
            }
        }
    }

}

//creates the menu overleay
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-brand, &-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    //adds a transition effect when menu shows on screen
    &-nav{
        background: darken($primary-color, 9);
        transform: translate3d(0,-100%,0);
        @include easeIn_Out;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    &-brand{
        background: darken($primary-color, 9);
        transform: translate3d(0,100%,0);
        @include easeIn_Out;

        &.show{
            transform: translate3d(0,0,0);
        }
    }


}



