html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    background-color: $dark-color;
    color: $white-color;
}

.logo{
    width: 5rem;
    height: 5rem;
}

a{
    color: $white-color;
    text-decoration: none;
}