//sets transition for social media links
@mixin easeIn_Out{
    transition: all 0.5s ease-in-out;
}

//sets the background image and the background image overlay
@mixin setBackgroundImg(){
    @if $showHomeImg {
        &#bg-img {
            background: $homeBackgroundImg;
            background-attachment: fixed;
            background-size: cover;
        }
        
        //adds an overlay to the img
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($black-color, $bakcgroundImgOpacity);
        }
    }
}

//responsive media queries
@mixin smDevice{
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mdDevice{
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin lgDevice{
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin xlDevice{
    @media screen and (min-width: 1171px) {
        @content;
    }
}